torch
torchvision
torchmetrics
matplotlib
Pillow
lightning
seaborn
ipywidgets
scipy
numpy
unsloth
trl
transformers
datasets
accelerate

# These are for pandas
numexpr
bottleneck

git+https://github.com/pytorch/kineto#subdirectory=tb_plugin

